body{
    color: rgb(52, 62, 52);
    background-color: black;
    font-family: "Chakra Petch", sans-serif;
    margin: 0px;
    
}
header{
    border-bottom: solid 2px rgb(79, 149, 240);
    padding: 20px;
}