body{
    color: rgb(52, 62, 52);
    background-color: black;
    font-family: "Chakra Petch", sans-serif;
    margin: 0px;
    
}
header{
    border-bottom: solid 2px rgb(79, 149, 240);
    padding: 20px;
    font-size: 30px;
}
h1{
    color: rgb 251, 241, 241;
    font-size: 28px;

}
p{ 
    color: rgb(114, 17, 17);

}
section{
    background: rgb(103, 47, 159);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;


}